
.gallery {
  margin-bottom: 50px
}

.post-content {
    background: none repeat scroll 0 0 $main-bg-color;
    opacity: 0.5;
    top:0;
    left:40px;
    position: absolute;
    width: 200px;
    height: 200px;
    display: none;
}

.image {
  padding-bottom: 10px;
  position: relative;
}
