.navbar-custom {
  background-color: $main-blue-color;
  border-color: $main-blue-color;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  color: $main-white-color;
  min-height: 80px
}

.navbar-brand {
  color: $main-white-color;
  margin-bottom: 40px;

  > img {
    width: 40%;
  }
}

.navbar-custom .navbar-nav > li > a {
  color: $main-white-color;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: $secondary-font-stack;
  font-size: 1.25em;
}

.icon-bar {
  background-color: $main-white-color;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: $accent-yellow-color;
    color: $main-white-color;
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 15px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .navbar-brand {
    margin-bottom: 10px;

    > img {
      width: 20%;
    }
  }
}
