$main-blue-color: rgba(107, 120, 175, 100);
$main-white-color: rgba(255, 255, 255, 100);
$main-brown-color: rgba(124, 66, 63, 100);

$secondary-brown-color: rgba(220, 199, 179, 100);
$gallery-bg-color: rgba(238, 230, 217, 100);
$accent-yellow-color: rgba(249, 207, 90, 100);

$primary-font-stack: 'Lobster Two', cursive;
$secondary-font-stack: 'Lato', sans-serif;


@import 'partials/_navbar.scss';
@import 'partials/_gallery.scss';
@import 'partials/_footer.scss';


.background {
  background-color: $main-white-color;
  margin: 0;
  height: 100%
}

.heading {
  text-align: center;

  h1 {
    font-family: $primary-font-stack;
    color: $main-brown-color;
    font-size: 4em;
    text-align: center;
    margin: 5% 0% 5% 0%;
  }

  #about {
    margin-bottom: 0px;
  }

  h2 {
    font-family: $secondary-font-stack;
    color: $main-brown-color;
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5%;
  }
}

@media (max-width: 767px) {
  .heading {
    #about {
      font-size: 3em;
      margin-bottom: 0px;
    }

    h1 {
      font-size: 3em;
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 30px;
    }
  }
}
